/* :::::::::::::::::::::: GENERAL :::::::::::::::::::::: */
div.sticky {
    position: sticky;
    left: 0px;
}

body {
    font-family: sans-serif;
}

.box {
    position: absolute;
    padding: 5px;
    box-sizing: content-box;
    /*box-shadow: 3px 3px 3px #44444452;*/
    background-image: -webkit-linear-gradient(left, #f6f6f6, #f1f1f1);
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    transform-origin: 100% 100% 0;
    -webkit-transform-origin: 100% 100% 0;
    -ms-transform-origin: 100% 100% 0;
    z-index: 100;
}

/* :::::::::::::::::::::: image dist. :::::::::::::::::::::: */
svg.imageDist {
    position: absolute;
    left: 0;
    top: 90px;
    z-index: -1;
}

/* ---------- zoom panel ---------*/
#zoomPanel {
    float: left;
    margin-top: 20px;
    width: 350px;
    height: 350px;
    /*position: sticky;*/
    left: 800px;
}

#detailPanel {
    position: absolute;
    float: left;
    margin-top: 20px;
    width: 400px;
    height: 400px;
    /*position: sticky;*/
    left: 1170px;
}

.redBorder {
    border: 3px solid #343fdd;
}

.imgBorder {
    outline-offset: 1px;
    outline: 2px solid #343fdd;
}

/* -----------------Drop down---------------- */

.ss-main{
    width: 290px;
    font-family: sans-serif;
}

.ss-content .ss-list {
    max-height: 700px;
}

.ss-content .ss-list .ss-option {
    padding: 10px
}

.ss-main .ss-single-selected {
    font-weight: bold;
}

.text-option {
    margin-bottom: 5px;
}

/* ------------ Nav Bar ------------  */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;
}

.box-nav {
    /*position: absolute;*/
    padding-left: 30px;
    box-sizing: content-box;
    box-shadow: 3px 3px 3px #44444452;
    /*background-image: -webkit-linear-gradient(left, #f6f6f6, #f1f1f1);*/
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    transform-origin: 100% 100% 0;
    -webkit-transform-origin: 100% 100% 0;
    -ms-transform-origin: 100% 100% 0;
    z-index: 100;
}

.topnav h2 {
    display: inline-block;
}

/* Style the links inside the navigation bar */
.topnav a {
    margin: 8px 0 8px 0;
    float: right;
    color: #071126;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 4px
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(62, 164, 56);
    color: white;
}

#right-btn{
    margin-right: 30px !important;
}

/* --------------- bootstrap button ---------------*/
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}.btn:focus,.btn:hover{text-decoration:none}.btn.focus,.btn:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.btn.disabled,.btn:disabled{opacity:.65}.btn:not(:disabled):not(.disabled){cursor:pointer}.btn:not(:disabled):not(.disabled).active,.btn:not(:disabled):not(.disabled):active{background-image:none}a.btn.disabled,fieldset:disabled a.btn{pointer-events:none}
.btn-success{color:#fff;background-color:#28a745;border-color:#28a745}.btn-success:hover{color:#fff;background-color:#218838;border-color:#1e7e34}.btn-success.focus,.btn-success:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-success.disabled,.btn-success:disabled{color:#fff;background-color:#28a745;border-color:#28a745}.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active,.show>.btn-success.dropdown-toggle{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}
.btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-danger:hover{color:#fff;background-color:#c82333;border-color:#bd2130}.btn-danger.focus,.btn-danger:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-danger.disabled,.btn-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active,.show>.btn-danger.dropdown-toggle{color:#fff;background-color:#bd2130;border-color:#b21f2d}.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-danger.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}

/* ----- left panel -------- */
.panelSelection {
    margin-top: 5px;
    margin-left: 5px;
    display: block;
}

/* ---------------- Label image -----------------*/
#mainDiv {
    display: table;
}

.boxBlock {
    display: table-cell;
    padding: 5px;
    box-sizing: content-box;
    box-shadow: 3px 3px 3px #44444452;
    /*background-image: -webkit-linear-gradient(left, #f6f6f6, #f1f1f1);*/
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    transform-origin: 100% 100% 0;
    -webkit-transform-origin: 100% 100% 0;
    -ms-transform-origin: 100% 100% 0;
    z-index: 100;
}

.image-selection {
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 5px 5px 5px 20px;
    border-bottom: 1px solid rgb(83, 95, 105);
}

.image-selection:hover{
    background-color: #e8e8e8;
}

.switchPage {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    color: rgb(37, 49, 58);
    margin-top: 100px;
    /*padding: 0px 16px;*/
    height: 30px;
}

.labelSelection {
    position: relative;
    left: 6px
}

.arrowTurnPage {
    opacity: 0.6;
    font-size: 20px;
    position: absolute;
}

.arrowTurnPage:hover {
    opacity: 1;
    transition: 0.5s;
}

.imageDisplay {
    display: table-cell;
    position: relative;
    width: unset;
    height: unset;
}

.svgImageDisplay {
    position: absolute;
    left: 12px;
}